@tailwind base;
@tailwind components;
@tailwind utilities;
.hero {
  background: url("./assets/imges/landing-page/Frame.png");
  background-position: right top;
  background-size: 40% 150%;
  background-repeat: no-repeat;
}
* {
  scroll-behavior: smooth;
}
